#hian2si7too5it4,#hian2si7too5ji7 {
	height:48px;
	width:48px;
	border: 1px solid #000000
}

#hian2si7too5it4 {
	display: block;
}

#hian2si7too5ji7 {
	display: none;
}

#ket4ko2 {
	border: 1px solid #000000
}